<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Verite TaeKwonDo</title>
</head>

<body>
  <br>
  <h1> TaeKwonDo </h1>
  <p>
    Tae Kwon Do is the Korean art of self-defense. Literally translated Tae means foot, Kwon means hand, and Do means art. It is much more than the image of the martial arts practical aspect. It is designed as a nonviolent art and system of complete body exercise as well as being a way of life. It includes physical and mental discipline and a deep phylosophy. 
  </p>
  <br><br>
  <div  align="center">
    <div id="slideShowImages" align="center">
      <%= image_tag("front_banner_1.jpg", :class => "front_banner_1") %>
      <%= image_tag("front_banner_2.jpg", :class => "front_banner_2") %>
      <%= image_tag("front_banner_3.jpg", :class => "front_banner_3") %>    
      <%= image_tag("front_banner_4.jpg", :class => "front_banner_4") %>  
      <%= image_tag("front_banner_5.jpg", :class => "front_banner_5") %>  
    </div>  
  </div>
  <script src="slideShow.js"></script>
  <br><br>
   <table cellpadding="10">
    <tr>
      <th><h2>Physically</h2></th>
      <th><h2>Mentally</h2></th>
      <th><h2>Philosophically</h2></th>
      <th><h2>Lessons</h2></th>
    </tr>
    <tr>
      <td>Physically one can develop coordination, gain strength, increase flexibility, and improve cardiovascular conditioning. From all of these physical practices one can have a strong body.</td>
      <td>Mentally one can build self-confidence, gain better judgement, and improve self-control from all these mental disciplines. One can have a sound mind.</td>
      <td>Philosophically while developing a strong body and a sound mind. It is appropriate to learn the valuable philosophical tools and lessons in life offered by Tae Kwon Do philosophy.</td>
      <td>Among the lessons offered by Tae Kwon Do are: The way to be honest; always standing for justice. How to respect and help others. The meaning of loyalty and courtesy.</td>
    </tr>
  </table>
  <br><br>
  <hr>
  <p>
    Incorporating these aspects into one's life will build for them the ability to be strong, to be humble, to be gentle, and to maintain self-respect. Tae Kwon Do philosophy emphasizes good health, happiness, generosity, and a sense of value of freedom, justice, and peace. All of these inspire both independence and coexistence. Tae Kwon Do is an art of humanity; it is a guide for the formation of outstanding character. It is practiced as a modern world sport. It is useful as a contemporary universal philosophy. <br>
    Tae Kwon Do is a practical and beautiful martial art.
  </p>
  <hr>
</body>

</html>